.containerfooter{
    margin-left: 80px;
}

.button-login{
    margin-left: 730px;
    
}

body {
    padding-top: 100px
}
.teachers-template {
    padding: 3rem 1,5rem ;
    text-align: center;
    margin-bottom: 80px;
}

.button{
    margin-top: 20px;
}

.container{
    margin-left: 80px;
}